@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	}
body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	}
.clear{
	clear:both;
	}
.fix{
	margin-left:0px !important;
	}


ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;position: relative;float:}
  li ul {display: none;}
  ul li a {display: block;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
li:hover ul {
    background: none repeat scroll 0 0 #3d3d3d;
    display: block;
    margin-left: -10.5%;
    margin-top: 7%;
    position: absolute;
    width: auto;
}
  li:hover li {float: none;}
  #drop-nav li ul li {border-top: 0px;}
  
  .col > li {
    float: none !important;
    font-size: 12px;
    height: auto !important;
    line-height: 13px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.col > p {
    color: #0f0f0f;
    padding-left: 8%;
}
.col-1 {
    margin-left: -9% !important;
    margin-top: 2% !important;
    padding-bottom: 9%;
    padding-left: 9%;
    width: 91% !important;
}
.col-1 > li {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    text-align: left;
    width: 95%;
}
.col-1 a {
    background: none repeat scroll 0 0 #5d5d5d;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    width: 64%;
}
.tt > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.tt {
    font-size: 9px !important;
}
.col-2 {
    margin-left: -9% !important;
    margin-top: 2% !important;
    padding-bottom: 9%;
    padding-left: 9%;
    width: 174% !important;
}
.col-2 > li {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    text-align: left;
    width: 95%;
}
.col-2 a {
    background: none repeat scroll 0 0 #5d5d5d;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    width: 64%;
}
/*********** header-start **********/

.header-wrapper{
	width:100%;
	height:auto;
	background-color:#000;
	padding-top: 2%;
	padding-bottom: 2%;
	 
	}
.row-fliud-header{
	height:auto;
	}
.header_sp4 > p {
    color: #ffc10e;
	font-size: 18px;
	}
.header_sp4 a {
    color: #ffc10e;
    text-decoration: none !important;
	}
.header_sp4 a:hover {
    color: #ffc10e;
	}
.header_sp4 > h4 {
    color: #FFFFFF;
	}
.header_sp4 b {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
	}
.search_header{
	width:100%;
	height:auto;
	background: #da523a; /* Old browsers */
	background: -moz-linear-gradient(top, #da523a 0%, #e5191c 49%, #bb141a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da523a), color-stop(49%,#e5191c), color-stop(100%,#bb141a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #da523a 0%,#e5191c 49%,#bb141a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #da523a 0%,#e5191c 49%,#bb141a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #da523a 0%,#e5191c 49%,#bb141a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #da523a 0%,#e5191c 49%,#bb141a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da523a', endColorstr='#bb141a',GradientType=0 ); /* IE6-9 */
	padding-top:1%;
	padding-bottom:3%;
	border-radius:5px;
	}
.search_header > h3 {
    color: #fff;
    float: left;
    font-size: 24px;
    margin: 0 5% 0 4%;
	}
.header_sp4_radio {
    margin-right: 1% !important;
    margin-top: -1.5% !important;
	}
.radio_button {
    color: #fff;
    margin-top: 3%;
	}
.radio_button > b {
    margin-right: 4%;
	}
.header_input {
    border: 2px solid #00ffff !important;
    float: left;
    margin-left: 4%;
    margin-right: 1%;
    margin-top: 1%;
    width: 79%;
	}
.search_header > img {
    cursor: pointer;
    margin-top: 1%;
	}
.checkbox_button {
    color: #fff;
    margin-left: 4%;
	}
.header_checkbox {
    margin-right: 2% !important;
    margin-top: 0 !important;
	}
.checkbox_button > b {
    font-size: 14px;
    margin-right: 4%;
	}

/*********** header-finish **********/

/*********** main-start **********/

.main-wrapper{
	width:100%;
	height:auto;
	background-color:#000;
	padding-bottom: 2%;
	}
.row-fluid-main{
	height:auto;
	}
.row-fluid-main > p {
    color: #fff;
    margin-bottom: 3%;
    margin-top: 1%;
	}
.main_sp4_smallbox {
    background-color: #de1420;
    border-radius: 3px;
    color: #fff;
	cursor: pointer;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	}
.main_sp4_smallbox:hover {
    border-top: 1px solid #fff;
	}
.main_sp4_smallbox > p {
    margin-left: 4%;
	line-height: 24px;
	margin-bottom: 2%;
	}
.main_sp4_smallbox img {
    margin-right: 1%;
	}
.main_sp4_box{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ababab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ababab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ababab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ababab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ababab 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ababab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
	color: #000;
    padding-top: 2%;
	}
.main_sp4_box ul{
	padding-bottom:1%;
	}
.main_sp4_box ul li {
    margin-bottom: 1%;
	cursor:pointer;
	}
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
  padding: 6px 15px;
}
#cssmenu {
  width: auto;
}
#cssmenu > ul > li {
  	background: none repeat scroll 0 0 #000;
    cursor: pointer;
    margin-bottom: 1%;
}
#cssmenu > ul > li:last-child {
  border-bottom: 1px solid #3e3d3c;
}
#cssmenu > ul > li > a {
	 background: #da523a; /* Old browsers */
	background: -moz-linear-gradient(top, #da523a 0%, #da523a 38%, #da523a 47%, #e51723 69%, #bb141b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da523a), color-stop(38%,#da523a), color-stop(47%,#da523a), color-stop(69%,#e51723), color-stop(100%,#bb141b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #da523a 0%,#da523a 38%,#da523a 47%,#e51723 69%,#bb141b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #da523a 0%,#da523a 38%,#da523a 47%,#e51723 69%,#bb141b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #da523a 0%,#da523a 38%,#da523a 47%,#e51723 69%,#bb141b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #da523a 0%,#da523a 38%,#da523a 47%,#e51723 69%,#bb141b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da523a', endColorstr='#bb141b',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
  	display: block;
  	font-size: 12px;
  	text-shadow: 0 1px 1px #000;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
	background: none repeat scroll 0 0 #666;
    color: #fff;
}
#cssmenu > ul > li.has-sub > a:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-left: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub.active > a:after {
  right: 14px;
  top: 12px;
  border: 5px solid transparent;
  border-top: 5px solid #FFF;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 0;
  display: none;
}
#cssmenu ul ul a {
  background: #efefef;
  display: block;
  color: #797979;
  font-size: 13px;
}
#cssmenu ul ul li {
  border-bottom: 1px solid #c9c9c9;
}
#cssmenu ul ul li.odd a {
  background: #e5e5e5;
}
#cssmenu ul ul li:last-child {
  border: none;
}
.main_sp8 > img {
    border: 2px solid #de1420;
    width: 100%;
	margin-bottom: 1%;
	}
.main_sp4_a > img {
    margin-right: 3%;
    margin-top: 3%;
    width: 10%;
	}
.main_sp8_a > p {
    color: #fff;
    margin-left: 23%;
    margin-top: 2%;
    text-align: center;
    width: 54%;
	}
.main_sp8_a a {
    color: #ffc10e;
    text-decoration: none !important;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	}
.main_sp8_a a:hover {
    color: #fff;
	}
.main_sp8_a > h6 {
    color: #fff;
    font-size: 14px;
    text-align: center;
	}
	
/*********** main-finish **********/

/*********** footer-start **********/

.footer-wrapper{
	width:100%;
	height:auto;
	background-color:#000;
	text-align:center;
	}
.row-fluid-footer{
	border-top: 1px solid #fff;
    height: auto;
    padding-top: 2%;
	}
.row-fluid-footer > p {
    color: #fff;
    font-size: 12px;
    text-align: center;
	}
.row-fluid-footer > img {
    margin-right: 1%;
    margin-top: 1%;
	}

/*********** footer-finish **********/

/******************** p2-start *********************/

/*********** header-strat **********/
.header2_top-wrapper{
	background-color: #000;
    border-bottom: 3px solid #666;
    height: auto;
    padding-bottom: 0;
    padding-top: 1%;
    width: 100%;
	}
.row-fluid-header2_top{
	height:auto;
	}
.header2_top_sp3{
	height:auto;
	}
.header2_top_sp3 > img {
    position: absolute;
	}
.header2_top_sp6{
	height:auto;
	}
.header2_top_select {
    border-radius: 0 !important;
	float:left;
	font-size: 10px;
    height: 24px;
    width: 20%;
	box-shadow: none !important;
	}
.header2_input{
    border-radius: 0 !important;
    box-shadow: none !important;
    float: left;
    width: 55%;
	font-size: 10px !important;
    height: 14px !important;
	}
.header2_top_sp6 > img {
    cursor: pointer;
	}
.header2_top_sp3 > p {
    color: #fff;
    font-weight: bold;
    text-align: right;
	}
.header2_top_sp3 img {
    cursor: pointer;
    margin-right: 4%;
	}
.header2_top_sp3 b {
    font-size: 22px;
	}
.header2_top_sp3 a {
    color: #fff;
	}
.header2_top_sp3 a:hover {
    color: #fff;
	}
.header2_bottom-wrapper{
	background-color: #cc0000;
    height: auto;
    width: 100%;
	border-bottom: 1px solid #000;
	}
.row-fluid-header2_bottom{
	height:auto;
	}
.header2_bottom_sp6{
	height:auto;
	}
.header2_bottom_sp6 ul{
	list-style:none;
	margin-left: 0;
	}
.li_img {
    padding: 0 !important;
	}
.header2_bottom_sp6 ul li{
	float:left;
	padding: 2.1% 3%;
	cursor:pointer;
	}
.header2_bottom_sp6 ul li:hover {
    background-color: #3d3d3d;
	}
.header2_bottom_sp6 ul li a {
    color: #fff;
    text-decoration: none !important;
    text-transform: uppercase;
	}
.header2_bottom_sp3{
	height:auto;
	}
.header2_bottom_sp3 ul{
	list-style:none;
	margin-left: 0;
	}
.li_img {
    padding: 0 !important;
	}
.header2_bottom_sp3 ul li{
	float:right;
	padding: 4.6% 4%;
	cursor:pointer;
	font-size: 12px;
	}
.login_li {
    padding: 1% 4% !important;
	}
.header2_bottom_sp3 ul li:hover {
    background-color: #3d3d3d;
	}
.header2_bottom_sp3 ul li a {
    color: #fff;
    text-decoration: none !important;
    text-transform: uppercase;
	}
/*********** header-finish **********/

/*********** main-strat **********/

.main2-wrapper{
	width:100%;
	height:auto;
	background-color:#FFF;
	}
.row-fluid-main2{
	height:auto;
	}
.kyeword {
    border-bottom: 1px solid #848484;
    margin-top: 2%;
    padding-bottom: 1%;
	}
.kyeword > p {
    font-size: 14px;
    font-weight: bold;
	float: left;
	margin-right: 1%;
    margin-top: 0.5%;
	}
.keyword_input {
    border-radius: 3px !important;
	float:left;
	}
.keyword_p {
    float: right !important;
	}
.keyword_p > img {
    cursor: pointer;
	}
.checkbox_keyword {
    margin-top: 0%;
	}
.checkbox_keyword input {
    margin-top: 0 !important;
	}
.search_again {
    padding-left: 1%;
    padding-right: 1%;
	}
.add_to_cart > h5 {
    font-weight: bold;
	margin-bottom: 1%;
	}
.add_to_cart a {
    color: #ff3f3f;
	}
.add_to_cart a:hover {
    color: #ff3f3f;
	}
.add_to_cart_table {
    float: left;
	}
.add_to_cart_table th {
    padding: .5%;
	}
.add_to_cart_table td {
    padding: .5%;
    text-align: center;
	}
.col {
    text-align: left !important;
	}
.col-2 {
    text-align: right !important;
	}
.add_to_cart_img {
    border: 1px solid;
    float: left;
    margin-left: 1%;
	width: 17%;
    padding: 2%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #b1d9fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b1d9fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#b1d9fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#b1d9fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#b1d9fd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#b1d9fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b1d9fd',GradientType=0 ); /* IE6-9 */
	}
.add_to_cart_img > p {
    line-height: 1.5;
    margin-top: 2%;
    text-align: center;
	}
.quantity{
	float:left;
	text-align:center;
	}
.quantity > h6 {
    min-height: 40px;
	}
.item_n{
	float:left;
	text-align:center;
	}
.item_n > h6 {
    min-height: 40px;
	}
.customer_r{
	float:left;
	text-align:center;
	}
.customer_r > h6 {
    min-height: 40px;
	}
.quantity > input {
    border-radius: 0 !important;
    width: 72%;
	}
.item_n > select {
    border-radius: 0 !important;
	}
.customer_r > input {
    border-radius: 0 !important;
    width: 80%;
	}
	
.banner {
    margin-top: 2%;
	}
.banner > p {
    color: #000;
	}
.table_2 {
    float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	width: 40%;
	}
.table_2 th {
    padding: .5%;
    width: 30%;
	}
.table_2 td {
    padding: .5%;
	}
	
.table_3 {
    float: left;
	width: 59%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #b1d9fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b1d9fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#b1d9fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#b1d9fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#b1d9fd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#b1d9fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b1d9fd',GradientType=0 ); /* IE6-9 */
	}
.table_3 th {
    padding: .5%;
	}
.col-3 {
    width: 16%;
	}
.col-4 {
    width: 16%;
	}
.col-5 {
    width: 14%;
	}
.col-6 {
    width: 14%;
	}
.table_3 td {
    padding: .5%;
	}
.col-7 {
    text-align: left;
	}
	
/*********** main-finish **********/

/*********** footer-start **********/

.footer2-wrapper{
	width:100%;
	height:auto;
	background: #323234; /* Old browsers */
	background: -moz-linear-gradient(top, #323234 0%, #06050d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323234), color-stop(100%,#06050d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #323234 0%,#06050d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #323234 0%,#06050d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #323234 0%,#06050d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #323234 0%,#06050d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323234', endColorstr='#06050d',GradientType=0 ); /* IE6-9 */
	}
.row-fluid-footer2{
	height:auto;
	}
.footer2_sp2 > h6 {
    color: #fff;
    font-size: 14px;
	}
.footer2_sp2 > p {
    color: #808080;
    font-size: 12px;
	}
.footer2_sp2 a {
    color: #808080;
	}
.footer2_sp2 a:hover {
    color: #808080;
	}
.footer2_sp3 > h6 {
    color: #fff;
    font-size: 14px;
	}
.footer2_sp3 > p {
    color: #808080;
    font-size: 12px;
	}
.footer2_sp3 a {
    color: #808080;
	}
.footer2_sp3 a:hover {
    color: #808080;
	}
.footer2_sp3 > b {
    color: #fff;
    font-size: 12px;
	}
.span3.footer2_sp3 b {
    color: #fff;
	}
.footer_p {
    color: #fff !important;
    margin-top: 2%;
	}
.footer2_sp4 > h6 {
    color: #fff;
    font-size: 14px;
	}
.footer2_sp4 > p {
    color: #808080;
    font-size: 12px;
	}
.footer2_sp4 a {
    color: #808080;
	}
.footer2_sp4 a:hover {
    color: #808080;
	}
.footer2_sp3a{
	background-color:#000;
	padding-bottom: 3%;
	}
.footer2_sp3a > img {
    margin-left: 3%;
    margin-top: 5%;
	}
.footer2_sp3a > p {
    color: #808080;
    font-size: 12px;
    margin-left: 3%;
    margin-top: 5%;
	}

/*********** footer-finish **********/

/******************** p2-finish *********************/

/******************** p3-start *********************/

.audio_span{
	height:auto;
	text-align:center;
	}
.audio_scroll_box{
	overflow:auto;
	text-align:left;
	border:1px solid #828790;
	min-height: 180px;
	height: 180px;
	margin-bottom: 8%;
	}
.audio_scroll_box > p {
    font-size: 12px;
    margin-bottom: 1%;
	}
.audio_span > h6 {
    min-height: 40px;
	}
.reset_button {
    padding: 1% 9%;
	}
.r1 {
    margin-top: 14%;
	}
	
	

.audio_table td {
    text-align: center;
	padding: 1%;
	}
.audio_pruduct_detail > b {
    color: #ff0000;
	}
.audio_pruduct_detail {
    margin-bottom: 2%;
    margin-top: 1%;
	}

/******************** p3-finish *********************/

@media (min-width: 300px) and (max-width: 767px) { 

.header2_top_sp3 > img {
    position: relative;
}
.header2_top_sp3 {
    height: auto;
    text-align: center;
}
.header2_top_sp3 > p {
    color: #fff;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}
.header2_bottom_sp6 ul li {
    cursor: pointer;
    float: none;
    padding: 2.1% 4%;
    text-align: center;
}
.header2_bottom_sp3 ul li {
    cursor: pointer;
    float: none;
    font-size: 12px;
    padding: 4.6% 4%;
    text-align: center;
}
.kyeword {
    border-bottom: 1px solid #848484;
    margin-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.kyeword > p {
    float: none;
}
.keyword_input {
    border-radius: 3px !important;
    float: none;
}
.keyword_p {
    float: none !important;
}

.add_to_cart_img {
    float: left;
	text-align: center;
    margin-left: 2%;
    margin-top: 5%;
    padding: 3%;
    width: auto;
}
.table_2 {
    float: none;
    margin-right: 1%;
    width: 100%;
}

.table_3 {
    float: left;
    margin-top: 4%;
}

.footer2_sp2 {
    text-align: center;
}
.footer2_sp3 {
    text-align: center;
}

.footer2_sp4 {
    text-align: center;
}

.span3.footer2_sp3a {
    text-align: center;
}

}

/************** slider **************/
.share-icon {
                    display: inline-block;
                    float: left;
                    margin: 4px;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                    vertical-align: middle;
                    background-image: url(../img/share/share-icons.png);
                }

                .share-facebook {
                    background-position: 0px 0px;
                }

                    .share-facebook:hover {
                        background-position: 0px -40px;
                    }

        .share-twitter {
            background-position: -40px 0px;
        }

            .share-twitter:hover {
                background-position: -40px -40px;
            }

        .share-pinterest {
            background-position: -80px 0px;
        }

            .share-pinterest:hover {
                background-position: -80px -40px;
            }

                .share-linkedin {
                    background-position: -240px 0px;
                }

                    .share-linkedin:hover {
                        background-position: -240px -40px;
                    }


                .share-googleplus {
                    background-position: -120px 0px;
                }

                    .share-googleplus:hover {
                        background-position: -120px -40px;
                    }


        .share-stumbleupon {
            background-position: -360px 0px;
        }

            .share-stumbleupon:hover {
                background-position: -360px -40px;
            }

                .share-email {
                    background-position: -320px 0px;
                }

                    .share-email:hover {
                        background-position: -320px -40px;
                    }
#slider1_container img {
    left: 0 !important;
	}

/************** slider-finish **************/


.link{color:#333333; text-decoration:none; font-size:10px;}